<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='main.css') }}">
    </head>
    <body>
            <div id="main_header">
                    <h1>Catalog App</h1>
            </div>
           
            <div id="main_content">
                <div class="edit_content">
                    <h2 class="header">Add Item </h2>
                    <form  method='POST'>
                    <label for="item_name">Title</label>
                    <input name='name' type='text' id="item_name">
                    <label for="item_des">Description</label>
                    <input name='description' type='text' id="item_des">
                    <label for="item_cate">Category</label>
                    <select name='catalog' id="item_cate">
                        <option value=''>please choose a category</option>
                        {% if categories%}
                        {% for c in categories%}
                        <option value='{{c.name}}'>{{c.name}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <input type='submit' value='Add' id="submitButton">
                    </form>
                </div>
            </div>
    </body>
</html>