<!DOCTYPE html>
<html>
    <head>
        <meta name="google-signin-client_id" content="YourclientID">
        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='main.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
        <script src="//apis.google.com/js/platform.js?onload=renderButton" async defer> </script>
    </head>
    <body>
        <div id="main_header">
            <h1>Catalog App</h1>
            {% if logedIn==True %}
                <div id="signoutButton"><button type="button" onclick="signOut()">Logout</button></div>
            {% else %}
                <div id="signinButton">
                </div>
            {%  endif %}
            {% if userName %}
                <div id="greeting"><p>Hello!{{userName}}</p></div>
            {% endif %}
        </div>
        <div id="main_content">
               
        {% if description %}
            <div class="description">
                <h2 class="header">{{return_item}}</h2>
                <p class="des">description:{{description}}</p>
                {% if logedIn==True %}
                <div class="link">
                <a href="{{url_for('edit',item=return_item)}}">edit</a><span>|</span><a href="{{url_for('delete',item=return_item)}}">delete</a>
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if categories %}
        <div class="content">
       
        <h2 class="header">categories</h2>
        
        <ol class="list">
            {% for c in categories %}
            <li><a href="{{url_for('showItems',catalog=c.name)}}">{{c.name}}</a></li>
            {% endfor %}
        </ol>
       
        </div>
        {% endif %}
        {% if listItems %}
        <div class="content">
        {% if logedIn==True %}
        <a id="add_item" href="{{url_for('add')}}">add item</a>
        {% endif %}
        {% if cata %}
        <h2 class="header">{{cata}} Items({{listItems.count()}} {{"items" if listItems.count()>1 else "item"}})</h2>
       
        {% else %}
        <h2 class="header">Latest Items</h2>
        {% endif %}
       

        <ol class="list">
            {% for i in listItems %}
            <li><a href="{{url_for('description',catalog=i.categories.name,item=i.name)}}">{{ i.name }}</a><span>({{i.categories.name}})</span></li>
            {% endfor %}
        </ol>
       
        </div>
        {% endif %}
       
        </div>
        <footer>
                {% with messages = get_flashed_messages() %}  
                {% if messages %}
                <ul>
                    {% for message in messages%}
                        <li id="message"><strong>{{message}}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <div id="result"></div>
        </footer>
        <script>
            function renderButton(){
                gapi.signin2.render('signinButton',{
                    'scope':"openid email",
                    'theme': 'dark',
              'redirecturi':"postmessage",
              'accesstype':"offline",
              'cookiepolicy':"single_host_origin",
              'onsuccess':"signInCallback",
              'onfailure': 'onFailure',
              'approvalprompt':"force"
                })
            }
            function onFailure(error) {
      console.log(error);
    }
            function signInCallback(authResult){
                if(authResult['code']){
                        $("#signinButton").attr("style","display: none");
                        $.ajax({
                                type: "POST",
                                url: "/gconnect?state={{STATE}}",
                                processData: false,
                                contentType: "application/octet-stream; charset=utf-8",
                                data: authResult['code'],
                                success: function(result){
                                        if (result) {
                                                 setTimeout(function(){
                                                         console.log(result);
                                                         if(result==='LogedIn'){ 
                                                                 document.location.reload();
                                                         }
                                                         else{
                                                                window.location.href="/";
                                                         }
                                                        
                                                },1000); 
                                        }
                                        else{
                                                
                                        }
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    $('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
                                }
                        })
                }
                else if(authResult['error']){
                        console.log("There was a error:"+authResult['error'])
                        $('#result').html('<p>There was a error:'+authResult['error']+'</p>')
                }
            }
            function signOut(){
                $.ajax({
                    type: "POST",
                                url: "/gdisconnect",
                                processData: false,
                                contentType: "application/octet-stream; charset=utf-8",
                                success: function(result){
                                    if (result) {
                
                                                 setTimeout(function(){
                                                         console.log(result);
                                                         if(result==='LogedOut'){
                                                                document.location.reload();  
                                                         }
                                                         else{
                                                                window.location.href = "/";
                                                         }
                                                        
                                                },1000); 
                                        }
                                        else{
                                                
                                        }
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    $('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
                                }
                })
            }
    </script>
    </body>
</html>